.footer {
    padding: 25px 100px;
}
.footer .footer-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 16px;
    font-weight: 500;
    color: white;
}
.footer .footer-container .footer-dividend {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer .footer-container .footer-dividend .links-container {
    display: flex;
    gap: 50px;
    font-size: 16px;
    align-items: center;
    font-weight: 600;
}
.footer .footer-container .footer-divider-line{
    width: 100%;
    border-bottom: 1px solid white;
}
.footer .footer-container .footer-divider {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
@media (max-width: 991px) {
    .footer {
        padding: 25px !important;
    }
}
@media (max-width: 567px) {
    .footer-dividend .links-container{
        gap: 15px !important;
    }
}