.login-main-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.login-main-container .login-container {
    width: 450px;
    padding: 25px 50px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 35px;
}
.login-container .login-head {
    color: red;
    font-size: 40px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}
.login-container .login-body div{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.login-container .login-body div label {
    color: black;
}
.login-container .login-body div input {
    margin-top: 3px;
    font-size: 16px;
    height: 40px;
    background-color: transparent;
    border-radius: 9999px;
    border: 1px solid black;
    padding: 0px 10px;
    color-scheme: white;
}
.login-container .login-body .centerer {
    display: flex;
    align-items: center;
}
.login-container .login-body div button {
    height: 50px;
    width: 150px;
    color: white;
    background-color: green;
    border-radius: 9999px;
}
.login-footer{
    margin-top: 15px;
    font-size: 16px;
    color: black;
    display: flex;
    justify-content: space-evenly;
}