#root {
  min-height: 100vh;
  width: 100vw;
}
.app {
  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}